SUPPORT_TO_EMAIL=your_support_inbox_email@gmail.com
SUPPORT_FUNCTION_URL=https://us-central1-your-project-id.cloudfunctions.net/sendSupportEmail

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
CLOUDINARY_FOLDER=profile_photos

PAYSTACK_PUBLIC_KEY=pk_test_your_public_key
PAYSTACK_SECRET_KEY=sk_test_your_secret_key
PAYSTACK_CALLBACK_URL=https://your-callback-url.com
