SUPPORT_FUNCTION_URL=https://us-central1-your_project_id.cloudfunctions.net/sendSupportEmail
SUPPORT_SMTP_USER=your_gmail_address@gmail.com
SUPPORT_SMTP_APP_PASSWORD=your_gmail_app_password
SUPPORT_TO_EMAIL=your_support_inbox_email@gmail.com
SUPPORT_FROM_NAME=LaptopHarbor Support
