rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if signedIn() && request.auth.uid == userId;

      match /cart/{docId} {
        allow read, write: if signedIn() && request.auth.uid == userId;
      }

      match /orders/{docId} {
        allow read, write: if signedIn() && request.auth.uid == userId;
      }

      match /addresses/{docId} {
        allow read, write: if signedIn() && request.auth.uid == userId;
      }

      match /wishlist/{docId} {
        allow read, write: if signedIn() && request.auth.uid == userId;
      }
    }
    
    match /products/{productId} {
      allow read: if true;
      allow write: if true; // Temporarily allow all writes for testing
    }

    match /{document=**} {
      allow read, write: if true;
    }
  
  }
}
